<!DOCTYPE html>
<html>

<head>
    <title>AAGIS</title>
    <link rel="stylesheet" href="styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style type='text/css'>
        .s1 {
            background-image: url({{postsSlider.[0].ref_imagem}});
            background-size: 800px 450px;
            /* Outras propriedades de estilo aqui, se necessário */
        }

        .s2 {
            background-image: url({{postsSlider.[1].ref_imagem}});
            background-size: 800px 450px;
            /* Outras propriedades de estilo aqui, se necessário */
        }

        .s3 {
            background-image: url({{postsSlider.[2].ref_imagem}});
            background-size: 800px 450px;
            /* Outras propriedades de estilo aqui, se necessário */
        }

        .s4 {
            background-image: url({{postsSlider.[3].ref_imagem}});
            background-size: 800px 450px;
            /* Outras propriedades de estilo aqui, se necessário */
        }
    </style>
</head>

<body>
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <i class='bx bx-home-alt-2'></i>
                <span>AAGIS</span>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>

        {{#if user_logado}}
        <div class="user"><a href="/perfil">
        <div class="pfpContainer"><img src={{user_foto}} alt="me" class="user-img"> </div>
            </a>
            <div>
                <p class="bold">{{user_name}}</p>
                <p>{{user_tipo}}</p>
            </div>
        </div>
        {{/if}}
        {{#unless user_logado}}
        <div class="user">
            <a href="/perfil">
            <div class="pfpContainer"><img
                    src="https://static-00.iconduck.com/assets.00/profile-user-icon-2048x2048-m41rxkoe.png" alt="me"
                    class="user-img"></div>
            </a>
            <div>
                <p class="bold">{{user_name}}</p>
                <p>{{user_tipo}}</p>
            </div>
        </div>
        {{/unless}}

        <ul>
            <li>
                <a href="/calendario">
                    <i class="bx bxs-grid-alt"></i>
                    <span class="nav-item">Calendário</span>
                </a>
                <span class="tooltip">Calendário</span>
            </li>
            <li id="btnFiltro">
                <a href="#">
                    <i class="bx bx-list-check"></i>
                    <span class="nav-item">Filtro</span>
                </a>
                <span class="tooltip">Filtro</span>
            </li>

            <!-- Formulário para filtros -->
            <form id="filtroForm" action="/" method="get">
                <fieldset class="filtro">
                    <label class="filtro1" onclick="ck1()">
                        <input id="cb1" type="checkbox" name="curso" value="Todos" checked>
                        Todos
                        <span class="checkmark"></span>
                    </label>

                    <label class="filtro1" onclick="ck2()">Engenharias
                        <input id="cb2" type="checkbox" name="curso" value="Engenharias">
                        <span class="checkmark"></span>
                    </label>

                    <label class="filtro1" onclick="ck3()">Engenharia de Software
                        <input id="cb3" type="checkbox" name="curso" value="Eng. Software">
                        <span class="checkmark"></span>
                    </label>

                    <label class="filtro1" onclick="ck4()">Engenharia de Energia
                        <input id="cb4" type="checkbox" name="curso" value="Eng. Energia">
                        <span class="checkmark"></span>
                    </label>

                    <label class="filtro1" onclick="ck5()">Engenharia Aeroespacial
                        <input id="cb5" type="checkbox" name="curso" value="Eng. Aeroespacial">
                        <span class="checkmark"></span>
                    </label>

                    <label class="filtro1" onclick="ck6()">Engenharia Automotiva
                        <input id="cb6" type="checkbox" name="curso" value="Eng. Automotiva">
                        <span class="checkmark"></span>
                    </label>

                    <label class="filtro1" onclick="ck7()">Engenharia Eletrônica
                        <input id="cb7" type="checkbox" name="curso" value="Eng. Eletrônica">
                        <span class="checkmark"></span>
                    </label>
                    <button type="submit" id="botaoAplicarFiltros">Aplicar Filtros</button>
                </fieldset>

            </form>

            {{#if user_logado}}
            <li>
                <a onclick="rotaPost()">
                    <i class='bx bx-plus-medical' onclick="rotaPost()"></i>
                    <span class="nav-item" onclick="rotaPost()">Publicar</span>
                </a>
                <span class="tooltip">Publicar</span>
            </li>

            {{#if user_adm}}
            <li>
                <a href="/controle">
                    <i class='bx bxs-cog'></i>
                    <span class="nav-item">Controle</span>
                </a>
                <span class="tooltip">Controle</span>
            </li>
            <li>
                <a href="/painel">
                    <i class='bx bx-list-ol'></i>
                    <span class="nav-item">Painel</span>
                </a>
                <span class="tooltip">Painel</span>
            </li>
            {{/if}}

            <li>
                <a href="/logout">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
            {{/if}}

            {{#unless user_logado}}
            <li>
                <a href="/login">
                    <i class='bx bx-log-in'></i>
                    <span class="nav-item">Login</span>
                </a>
                <span class="tooltip">Login</span>
            </li>
            {{/unless}}
        </ul>
    </div>


    <div class="header">
        <div class="HeaderRow">
            <div class="home" onclick="homeFunction()">
                <h1 id="HOME">AAGIS</h1>
                <div id="imgPadding">
                    <img src="imagens/unb_logo.png" alt="Logo UnB">
                </div>
            </div>
        </div>

        <a id="slogan">Atualizações Acadêmicas Gerais, Indispensáveis e Sucintas</a>

    </div>
    <div class="main">
        <div class="SliderDefiner">
            <div class="slider">

                <div class="slides">
                    <!-- Radio Buttons -->
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <!--Fim Radio Butons -->

                    <!--Slide Images-->
                    <div class="slide first s1">
                        <div class="slideTxt" onclick="abrirModalS1()">
                            <h3 class="slideTitulo">{{postsSlider.[0].titulopost}}</h3>
                            <a class="slideText">{{postsSlider.[0].subtitulopost}}</a>
                            <!--comentário ao backend: quando forem implantar o banco de dados nessa div "a" usem um limitador de caracteres pra nao ficar feio :) ass: Davidros-->
                        </div>
                        <div id="modalS1" class="modal">
                            <div class="modal-conteudo">
                                <span class="fechar" onclick="fecharModalS1()">&times;</span>
                                <div class="modalS1 modalImgContainer">
                                    <img src={{postsSlider.[0].ref_imagem}}>
                                </div>
                                <h2>{{postsSlider.[0].titulopost}}</h2>
                                <button id="btnGemini" class="GeminiButton" onclick="initGemini({{postsSlider.[0].id}})">
                                    <i class='bx bx-low-vision'></i>
                                    Descrever Notícia</button>
                                <p>
                                    {{{postsSlider.[0].conteudopost}}}
                                </p>
                                <div class="datahora"> <!-- INTEGRAR AQUI -->
                            <div class="dhImgContainer">
                                <img src={{postsSlider.[0].foto_autor}}>
                            </div>
                            <div class="wrap">
                                <p class="autor">Postado por "{{postsSlider.[0].autor}}"</p>
                                <p class="dh">{{postsSlider.[0].hora}} {{postsSlider.[0].data}}</p>
                            </div>
                        </div>
                            </div>
                        </div>

                        <div id="overlayS1" class="overlay" onclick="fecharModalS1()"></div>

                    </div>
                    <div class="slide s2">
                        <div class="slideTxt" onclick="abrirModalS2()">
                            <h3 class="slideTitulo">{{postsSlider.[1].titulopost}}</h3>
                            <a class="slideText">{{postsSlider.[1].subtitulopost}}</a>
                        </div>
                        <div id="modalS2" class="modal">
                            <div class="modal-conteudo">
                                <span class="fechar" onclick="fecharModalS2()">&times;</span>
                                <div class="modalS2 modalImgContainer">
                                    <img src={{postsSlider.[1].ref_imagem}}>
                                </div>
                                <h2>{{postsSlider.[1].titulopost}}</h2>
                                <button id="btnGemini" class="GeminiButton" onclick="initGemini({{postsSlider.[1].id}})">
                                    <i class='bx bx-low-vision'></i>
                                    Descrever Notícia</button>
                                <p>
                                    {{{postsSlider.[1].conteudopost}}}
                                </p>
                                <div class="datahora"> <!-- INTEGRAR AQUI -->
                            <div class="dhImgContainer">
                                <img src={{postsSlider.[1].foto_autor}}>
                            </div>
                            <div class="wrap">
                                <p class="autor">Postado por "{{postsSlider.[1].autor}}"</p>
                                <p class="dh">{{postsSlider.[1].hora}} {{postsSlider.[1].data}}</p>
                            </div>
                        </div>
                            </div>
                        </div>
                        <div id="overlayS2" class="overlay" onclick="fecharModalS2()"></div>

                    </div>
                    <div class="slide s3">
                        <div class="slideTxt" onclick="abrirModalS3()">
                            <h3 class="slideTitulo">{{postsSlider.[2].titulopost}}</h3>
                            <a class="slideText">{{postsSlider.[2].subtitulopost}}</a>
                        </div>
                        <div id="modalS3" class="modal">
                            <div class="modal-conteudo">
                                <span class="fechar" onclick="fecharModalS3()">&times;</span>
                                <div class="modalS3 modalImgContainer">
                                    <img src={{postsSlider.[2].ref_imagem}}>
                                </div>
                                <h2>{{postsSlider.[2].titulopost}}</h2>
                                <button id="btnGemini" class="GeminiButton" onclick="initGemini({{postsSlider.[2].id}})">
                                    <i class='bx bx-low-vision'></i>
                                    Descrever Notícia</button>
                                <p>
                                    {{{postsSlider.[2].conteudopost}}}
                                </p>
                                <div class="datahora"> <!-- INTEGRAR AQUI -->
                            <div class="dhImgContainer">
                                <img src={{postsSlider.[2].foto_autor}}>
                            </div>
                            <div class="wrap">
                                <p class="autor">Postado por "{{postsSlider.[2].autor}}"</p>
                                <p class="dh">{{postsSlider.[2].hora}} {{postsSlider.[2].data}}</p>
                            </div>
                        </div>
                            </div>
                        </div>
                        <div id="overlayS3" class="overlay" onclick="fecharModalS3()"></div>

                    </div>
                    <div class="slide s4">
                        <div class="slideTxt" onclick="abrirModalS4()">
                            <h3 class="slideTitulo">{{postsSlider.[3].titulopost}}</h3>
                            <a class="slideText">{{postsSlider.[3].subtitulopost}}</a>
                        </div>
                        <div id="modalS4" class="modal">
                            <div class="modal-conteudo">
                                <span class="fechar" onclick="fecharModalS4()">&times;</span>
                                <div class="modalS4 modalImgContainer">
                                    <img src={{postsSlider.[3].ref_imagem}}>
                                </div>
                                <h2>{{postsSlider.[3].titulopost}}</h2>
                                <button id="btnGemini" class="GeminiButton" onclick="initGemini({{postsSlider.[3].id}})">
                                    <i class='bx bx-low-vision'></i>
                                    Descrever Notícia</button>
                                <p>
                                    {{{postsSlider.[3].conteudopost}}}
                                </p>
                                <div class="datahora"> <!-- INTEGRAR AQUI -->
                            <div class="dhImgContainer">
                                <img src={{postsSlider.[3].foto_autor}}>
                            </div>
                            <div class="wrap">
                                <p class="autor">Postado por "{{postsSlider.[3].autor}}"</p>
                                <p class="dh">{{postsSlider.[3].hora}} {{postsSlider.[3].data}}</p>
                            </div>
                        </div>
                            </div>
                        </div>
                        <div id="overlayS4" class="overlay" onclick="fecharModalS4()"></div>

                    </div>
                    <!--Fim Slide Images-->

                    <!-- Navigation auto -->
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>

                </div> <!--div slides end-->

                <div class="manual-navigation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>

                </div>
            </div>
        </div>


        <!--div cards-->

        <div class="container">
            {{#each postsCard}}
            <div class="card">
                <img src={{this.ref_imagem}} class="card-img" alt="noticia{{indexPlusOne}}"
                    onclick="abrirModal{{indexPlusOne}}()">
                <div class="intro" onclick="abrirModal{{indexPlusOne}}()">
                    <h3>{{this.titulopost}}</h3>
                    <p>{{this.subtitulopost}}</p>
                </div>
                <div id="modal{{indexPlusOne}}" class="modal">
                    <div class="modal-conteudo">
                        <span class="fechar" onclick="fecharModal{{indexPlusOne}}()">&times;</span>
                        <div class="modal{{indexPlusOne}} modalImgContainer">
                            <img src={{this.ref_imagem}}>
                        </div>
                        <h2>{{this.titulopost}}</h2>
                        <button id="btnGemini" class="GeminiButton" onclick="initGemini({{this.id}})">
                            <i class='bx bx-low-vision'></i>
                            Descrever Notícia</button>
                        <p>
                            {{{this.conteudopost}}}
                        </p>

                        <div class="datahora"> <!-- INTEGRAR AQUI -->
                            <div class="dhImgContainer">
                                <img src={{this.foto_autor}}>
                            </div>

                            <div class="wrap">
                                <p class="autor">Postado por "{{this.autor}}"</p>
                                <p class="dh">{{this.hora}} {{this.data}}</p>
                            </div>
                       
                        </div>
                    </div>
                </div>
            </div>
            <div id="overlay{{indexPlusOne}}" class="overlay" onclick="fecharModal{{indexPlusOne}}()"></div>
            {{/each}}
        </div>
        <script src="./scripts.js"></script>
        <!--
            <div class="card">
                <img src="imagens/noticia5.jpeg" class="card-img" alt="noticia2" onclick="abrirModal2()">
                <div class="intro" onclick="abrirModal2()">
                    <h3> Campus FGA </h3>
                    <p>Alunos reclamam da má higiene dos alimentos do RU.</p>
                </div>
                <div id="modal2" class="modal">
                    <div class="modal-conteudo">
                        <span class="fechar" onclick="fecharModal2()">&times;</span>
                        <div class="modal2">
                            <img src="imagens/noticia5.jpeg">
                        </div>
                        <h2>Campus Fga</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis at aliquam magni facilis
                            totam eveniet aut, fuga temporibus eligendi exercitationem voluptatum, est corrupti
                            quibusdam non quo blanditiis quae et expedita. Adipisci, facilis! Nesciunt quo eaque cumque
                            illum blanditiis iusto eveniet officiis dignissimos rem! Adipisci ex consequuntur ipsum
                            repellat illum, similique in soluta tempore corrupti. Impedit nisi temporibus nihil
                            voluptatum. Ea, vel deserunt aliquam, aut possimus ipsa error minima deleniti, dolor
                            pariatur quos harum amet neque?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Iusto sunt aut libero pariatur corporis exercitationem autem? Modi, veritatis officia,
                            quibusdam deleniti, quasi eum rem asperiores neque itaque beatae nemo nostrum iusto aliquid
                            omnis magni! Impedit qui optio repellendus perspiciatis quae?
                        </p>
                    </div>
                </div>
            </div>
            <div id="overlay2" class="overlay" onclick="fecharModal2()"></div>

            <div class="card">
                <img src="imagens/noticia6.webp" class="card-img" alt="noticia3" onclick="abrirModal3()">
                <div class="intro" onclick="abrirModal3()">
                    <h3> Adote um doguinho!</h3>
                    <p>Diversos cachorros aparecem no Campus FGA todos os dias em busca de um lar.</p>
                </div>
                <div id="modal3" class="modal">
                    <div class="modal-conteudo">
                        <span class="fechar" onclick="fecharModal3()">&times;</span>
                        <div class="modal3">
                            <img src="imagens/noticia6.webp">
                        </div>
                        <h2>Adote um doguinho!</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. In quo consectetur repellendus,
                            incidunt ipsum eveniet minima, necessitatibus vero recusandae perspiciatis dicta ipsam et
                            placeat dolore iusto laborum magni? Aliquid, quaerat voluptatibus asperiores facere iusto
                            corporis natus molestiae, repellendus aut quos cupiditate itaque, odit beatae nihil dolores
                            adipisci aspernatur ab eos illum doloribus? Repellendus, veniam cupiditate amet quasi et
                            maiores mollitia nisi aut quo. Vel ex voluptate sit perspiciatis, omnis ab facere quae
                            tempore quasi ullam voluptas, architecto praesentium dignissimos, necessitatibus modi
                            asperiores perferendis odit itaque?
                        </p>
                    </div>
                </div>
            </div>
            <div id="overlay3" class="overlay" onclick="fecharModal3()"></div>

            <div class="card">
                <img src="imagens/noticia7.webp" class="card-img" alt="noticia4" onclick="abrirModal4()">
                <div class="intro" onclick="abrirModal4()">
                    <h3> Greve dos Servidores </h3>
                    <p>Greve dos servidores e terceirizados ameaçam o inicio do semestre letivo.</p>
                </div>
                <div id="modal4" class="modal">
                    <div class="modal-conteudo">
                        <span class="fechar" onclick="fecharModal4()">&times;</span>
                        <div class="modal4">
                            <img src="imagens/noticia7.webp">
                        </div>
                        <h2>Greve dos Servidores</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, odio! Mollitia laboriosam
                            commodi iure minus eaque itaque, ratione alias corporis vero praesentium atque fugit magnam
                            deserunt error nisi quis quibusdam, eligendi nam aut soluta facere molestiae aperiam? Non
                            quae distinctio commodi repellendus rerum similique laborum ab minus vero est ea nulla ad
                            aliquam facilis nobis voluptatibus iste quaerat, eaque officia. Fugiat quibusdam beatae
                            nihil voluptatem odit repellendus aperiam maxime magnam. Deserunt nihil beatae in odio. Eos,
                            quos alias, officiis ullam culpa mollitia, saepe voluptatum dolorem doloribus cupiditate
                            modi! Blanditiis, vero.
                        </p>
                    </div>
                </div>
            </div>
            <div id="overlay4" class="overlay" onclick="fecharModal4()"></div>

        </div>
        <div class="container">
            <div class="card">
                <img src="imagens/noticia8.jpg" class="card-img" alt="noticia5" onclick="abrirModal5()">
                <div class="intro2" onclick="abrirModal5()">
                    <h3> MC's na UnB</h3>
                    <p>Batalha de rima será tema de aula na UnB.</p>
                </div>
                <div id="modal5" class="modal">
                    <div class="modal-conteudo">
                        <span class="fechar" onclick="fecharModal5()">&times;</span>
                        <div class="modal5">
                            <img src="imagens/noticia8.jpg">
                        </div>
                        <h2>MC's na UnB</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quae eos magni natus velit
                            tempore soluta provident perferendis necessitatibus aliquam facilis labore incidunt
                            consequuntur animi, nihil in minima esse culpa repudiandae quod adipisci porro veritatis!
                            Quaerat, tenetur? Labore quia temporibus explicabo debitis, consectetur provident nobis
                            repellendus sunt beatae nemo illum dolorem inventore eius aperiam doloribus, esse,
                            aspernatur est! Eligendi quas porro quo necessitatibus. Aperiam quia voluptatum accusamus
                            hic fugiat. Excepturi rerum sunt distinctio omnis sint voluptates sequi cupiditate at enim
                            est, quibusdam illum pariatur quos! Neque, sint debitis. Vero, consectetur necessitatibus
                            sunt error rerum eum tempore sapiente dolorem. Veritatis, amet.
                        </p>
                    </div>
                </div>
            </div>
            <div id="overlay5" class="overlay" onclick="fecharModal5()"></div>

            <div class="card">
                <img src="imagens/noticia9.png" class="card-img" alt="noticia6" onclick="abrirModal6()">
                <div class="intro2" onclick="abrirModal6()">
                    <h3> Acesso Enem </h3>
                    <p>Primeira chamada do Acessso Enem UnB 2024 é publicada</p>
                </div>
                <div id="modal6" class="modal">
                    <div class="modal-conteudo">
                        <span class="fechar" onclick="fecharModal6()">&times;</span>
                        <div class="modal6">
                            <img src="imagens/noticia9.png">
                        </div>
                        <h2>Acesso Enem</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. A quas temporibus incidunt
                            voluptatibus doloribus nisi rerum aut iste ex ab non cum ipsam nesciunt praesentium eum qui
                            maiores modi dolorum ratione, ullam officiis natus facilis? Asperiores, cupiditate? Incidunt
                            ipsam recusandae in numquam sed non. Ullam sunt, praesentium, culpa possimus tempora
                            perferendis atque nobis nemo consequuntur sint quidem officia eaque eveniet porro ex
                            voluptas incidunt at eos voluptates. Quasi, voluptatum voluptate. Fugit officiis minus
                            voluptatem recusandae.
                        </p>
                    </div>
                </div>
                <div id="overlay6" class="overlay" onclick="fecharModal6()"></div>

            </div>
            <div class="card">
                <img src="imagens/noticia10.png" class="card-img" alt="noticia7" onclick="abrirModal7()">
                <div class="intro2" onclick="abrirModal7()">
                    <h3> Quer estudar na UnB? </h3>
                    <p>Saiba as formas de ingressar em uma das melhores universidades federais do país</p>
                </div>
                <div id="modal7" class="modal">
                    <div class="modal-conteudo">
                        <span class="fechar" onclick="fecharModal7()">&times;</span>
                        <div class="modal2">
                            <img src="imagens/noticia10.png">
                        </div>
                        <h2>Quer estudar na UnB?</h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum eveniet a adipisci fuga
                            quibusdam quas, vitae accusamus odio eum officia ipsa tempora inventore exercitationem,
                            magni quisquam sed consectetur impedit rerum quam. Iure ad tempora maxime adipisci error
                            exercitationem ut impedit atque voluptates molestias sapiente illo eveniet ducimus
                            voluptate, dolor, veniam fugiat similique, ipsam repellendus vitae facere quibusdam numquam
                            alias. Saepe nostrum adipisci aut voluptatibus placeat laboriosam distinctio? Molestias
                            corporis nisi blanditiis vitae assumenda perferendis odit ratione temporibus. Quae culpa
                            nemo iusto aliquid aperiam. Qui fugiat culpa dolore, eaque quo iure.
                        </p>
                    </div>
                </div>
            </div>
            <div id="overlay7" class="overlay" onclick="fecharModal7()"></div>

            <div class="card">
                <img src="imagens/noticia11.jpg" class="card-img" alt="noticia8" onclick="abrirModal8()">
                <div class="intro2" onclick="abrirModal8()">
                    <h3> Vestibular 2024 </h3>
                    <p>Alunos de escola pública comemoram o ingresso na Universidade de Brasília.</p>
                </div>
                <div id="modal8" class="modal">
                    <div class="modal-conteudo">
                        <span class="fechar" onclick="fecharModal8()">&times;</span>
                        <div class="modal8">
                            <img src="imagens/noticia11.jpg">
                        </div>
                        <h2>Vestibular 2024</h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis molestias vitae quam,
                            aspernatur blanditiis nesciunt deleniti placeat soluta. Voluptas voluptatem neque distinctio
                            eos quisquam, ullam corrupti optio deserunt quasi consectetur officiis. Incidunt animi non,
                            a quibusdam, exercitationem porro quasi quo voluptatibus delectus consequuntur autem sit
                            impedit voluptate enim velit magni nostrum excepturi dolores nesciunt distinctio at sint!
                            Sapiente, rem? Impedit corrupti, nam nesciunt, omnis illo facere expedita velit tempore
                            cumque voluptate quo in dicta nulla. Quisquam amet, adipisci recusandae autem natus debitis
                            ipsa dicta error dolorem molestiae eligendi in placeat. Vitae quos inventore laudantium
                            earum optio eum quam id dolorem aspernatur. Accusamus dicta a earum, voluptate, eius,
                            inventore ab recusandae nulla cumque sit maxime labore! Ad sunt ullam eligendi aspernatur.
                        </p>
                    </div>
                </div>
            </div>
            <div id="overlay8" class="overlay" onclick="fecharModal8()"></div>
        </div>
        -->
        <!--FIM div cards-->
    </div>
    <!--Inicio footer-->
    <footer>
        <div class="info1">
            <ul>
                <h3>AAGIS</h3>
                Fique atento aos eventos acadêmicos com o nosso site!
                <div class="redes-sociais">
                    <img src="imagens/icon.instagram.png" alt="">
                    <img src="imagens/icon.telegram.png" alt="">
                    <img src="imagens/icon.twitter.png" alt="">
                </div>
            </ul>
            <ul>
                <h3>Links</h3>
                <li><a href="https://sigaa.unb.br" target="_blank">Sigaa</a></li>
                <li><a href="https://aprender3.unb.br" target="_blank">Aprender</a></li>
                <li><a href="https://www.noticias.unb.br" target="_blank">Unb Noticias</a></li>
            </ul>
            <ul>
                <h3>Suporte</h3>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Como ser um colaborador</a></li>
                <li><a href="#">Contatos</a></li>
            </ul>
            <ul>
                <h3> Fale conosco </h3>
                <li>
                    <p> +55 61 9 8638-7990</p>
                </li>
                <li>
                    <p> aagisnoticias2024@gmail.com</p>
                </li>
                <li>
                    <p> Universidade de Brasília - UnB</p>
                </li>
            </ul>
        </div>
    </footer>
    <!--FIM footer-->

</html>