<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style-painel.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel</title>
</head>
<body>
    <div class="header">
        <div class="HeaderRow">
            <div class="home" onclick="homeFunction()">
                <h1 id="HOME">AAGIS</h1>
                <div id="imgPadding">
                    <img src="imagens/unb_logo.png" alt="Logo UnB">
                </div>
            </div>
        </div>

        <a id="slogan">Atualizações Acadêmicas Gerais, Indispensáveis e Sucintas</a>

    </div>
    <div class="Container-Painel">
        <div class="title">
            <h1>Administração de Notícias</h1>
        </div>
    <div class="megadiv">
        {{#each noticia}}
        <div class="Noticia">
            <div class="card">
                <img src={{this.ref_imagem}} class="card-img"  alt="noticia1">
            </div>
            <div class="intro">
                <h3> {{this.titulopost}} </h3>
                <p>{{this.subtitulopost}}</p>
                <p>{{this.createdAt}}</p>
            </div>
            <div class="Admin">
                <button id="btn1" onclick="editarNoticia({{this.id}})"> Editar Notícia </button><br>
                <button id="btn2" onclick="excluirNoticia({{this.id}})"> Excluir noticia </button><br>
            </div>
        </div>
    {{/each}}
        
    </div>
    </div>
    <script src="scriptsPainel.js"></script>
</body>
</html>