 <!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="styleLogin.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="scripts.js"></script>

</head>
<body>

    <div class="header">
        <div class="HeaderRow">
            <div class="home" onclick="homeFunction()">
                <h1 id="HOME">AAGIS</h1>
                <div id="imgPadding">
                    <img src="imagens/unb_logo.png" alt="Logo UnB">
                </div>
            </div>
        </div>

        <a id="slogan">Atualizações Acadêmicas Gerais, Indispensáveis e Sucintas</a>

    </div>
      <!--inicio area login-->
       <div class="container">
         <div class="login">
            <form id="loginForm" action="/addlogin" method="POST"> 
                <h2>Login</h2>
                    <input type="email" name="email" id="loginEmail" placeholder="Email" required><br>
                    <input type="password" name="senha" id="loginPassword" placeholder="Senha" required><br>
                    <button type="submit">Entrar</button>
                    <div id="errom1" class="erroMessage {{#if senha_incorreta}}show{{else}}hide{{/if}}">Senha inválida</div>
                    <div id="errom2" class="erroMessage {{#if email_inexistente}}show{{else}}hide{{/if}}">Usuário inexistente</div>
                    <div id="wait1" class="waitMessage {{#if mensagem_wait}}show{{else}}hide{{/if}}">O usuário ainda não foi aprovado</div>

            </form>
         </div>
         <div class="cadastro">
            <form id="signupForm" action="/cadastro" method="POST"> 
                <h2>Cadastre-se</h2>
        <input type="text" name="nomeCadastro" id="signupName" placeholder="Nome" required><br>
        <input type="email" name="emailCadastro" id="signupEmail" placeholder="Email" required><br>
        <input type="password" name="senhaCadastro" id="signupPassword" placeholder="Senha" required><br>

            <button  type="submit">Cadastrar</button>
        <div id="errom3" class="erroMessage {{#if us_repetido}}show{{else}}hide{{/if}}">Email ou nome já cadastrado</div>
        
        <div id="success1" class="successMessage {{#if user_criado}}show{{else}}hide{{/if}}">Sucesso! Aguarde aprovação.</div>

            </form>
         </div>
       </div>










      <!--Final area login-->
      <footer>
        <div class="info1">
            <ul>  <h3>AAGIS</h3>
                Fique atento aos eventos acadêmicos com o nosso site!
                <div class="redes-sociais">
                    <img src="imagens/icon.instagram.png" alt="">
                    <img src="imagens/icon.telegram.png" alt="">
                    <img src="imagens/icon.twitter.png" alt="">
                </div>
            </ul>
            <ul>
                <h3>Links</h3>
                <li><a href="https://sigaa.unb.br" target="_blank">Sigaa</a></li>
                <li><a href="https://aprender3.unb.br" target="_blank">Aprender</a></li>
                <li><a href="https://www.noticias.unb.br" target="_blank">Unb Noticias</a></li>
            </ul>
            <ul>
                <h3>Suporte</h3>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Como ser um colaborador</a></li>
                <li><a href="#">Contatos</a></li>
            </ul>
            <ul>
                <h3> Fale conosco </h3>
                <li><p> +55 61 9 8638-7990</p></li>
                <li><p> aagisnoticias2024@gmail.com</p></li>
                <li><p> Universidade de Brasília - UnB </p></li>
            </ul>
        </div>
    </footer>  
</body>
</html>