<h1>Lista de posts: </h1>

{{#each posts}}

<h1>{{titulopost}}</h1>
<p>{{conteudopost}}</p>
<p>{{curso}}</p>
<p>Id da postagem: {{id}}</p>
<small>Id da conta que postou: {{idconta}}</small>
<p></p>
<small>{{dataValues.createdAt}}</small>
<p></p>
<a href='/deletar/{{id}}'><button>Deletar</button></a>
<hr>

{{/each}}